.navbar {
  height: 7vh;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--white);
  position: relative;
  font-size: 1.3rem;
  z-index: 5;
}

.logo a {
  text-decoration: none;
  color: var(--white);
  margin-left: 1rem;
}

.space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}