* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

.main_container {
  min-height: 93vh;
}

.btn_quiz_primary {
  padding: 8px;
  display: flex;
  background-color: var(--primary-color);
  margin: 0 auto;
  border-radius: 4px;
  border: none;
}

.btn_quiz_primary a {
  text-decoration: none;
  color: var(--white);
}

.btn_quiz_primary:hover {
  background-color: var(--darkBlue);
}

/********** Variable Colors ***********/

:root {
  --primary-color: #4723d9;
  --black: #000000;
  --white: #ffffff;
  --green: #008000;
  --darkGreen: #006400;
  --greenlight: #7cfc00;
  --red: #ff0000;
  --darkBlue: #00008b;
  --darkGray: #a9a9a9;
  --box-shadow: #000000bf;
}
